@import url("https://api.fontshare.com/css?f%5B%5D=general-sans@400,500,800&display=swap");

:root {
  --bg: #fff;
  --ct: #0d0d0d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #151515;
    --ct: #dadada;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

[data-lucide] {
  width: 16px;
  height: 16px;
}

[data-lucide]:hover {
  transform: scale(1.1);
}

* {
  padding: 0;
  margin: 0;
  font-family: "General Sans", sans-serif;
  letter-spacing: 0.025em;
}

*::selection {
  background: color-mix(in srgb, var(--ct) 10%, transparent);
}

html,
body {
  scroll-behavior: smooth;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}

body {
  display: grid;
  place-items: center;

  color: var(--ct);
  background: var(--bg);
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 2rem 0;
  z-index: 10;
  background: var(--bg);
  border-bottom: 1px solid color-mix(in srgb, var(--ct) 10%, transparent);
  user-select: none;
}

@media (max-width: 768px) {
  nav {
    top: initial;
    bottom: 0;
    border-bottom: none;
    border-top: 1px solid color-mix(in srgb, var(--ct) 10%, transparent);
  }
}

main {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  width: 100vw;
  height: 100vh;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

main::-webkit-scrollbar {
  display: none;
}

section {
  flex: 0 0 100vw;
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  transition: background-color 0.3s ease, color 0.3s ease;
  overflow: hidden;
  padding-inline: 2rem;
}

section#profile article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 450px;
  text-align: center;
}

section#profile article img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid var(--ct);
  user-select: none;
  pointer-events: none;
  margin-bottom: 0.75rem;
}

.social {
  display: flex;
  gap: 0.75rem;
  margin-block: 0.25rem;
}

.social a span {
  display: none;
}

@media (max-width: 768px) {
  [data-lucide] {
    display: none;
  }

  .social a span {
    display: inline-block;
  }
}

#icon {
  width: 1.5rem;
  height: 1.5rem;
  user-select: none;
  pointer-events: none;
}

h1 {
  font-size: 1.2rem;
  font-weight: 800;
  margin-block: 0.25rem;
}

h2 {
  font-size: 1rem;
  font-weight: 800;
  margin-block: 0.25rem;
}

p {
  font-size: 0.9rem;
  font-weight: 400;
}

b {
  font-weight: 500;
}

a {
  color: var(--ct);
  text-decoration: none;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}

a:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 7.5px;
  text-decoration-color: var(--ct);
}

a:target {
  text-decoration: underline;
  text-decoration-thickness: 0.1px;
  text-underline-offset: 7.5px;
  text-decoration-color: color-mix(in srgb, var(--ct) 30%, transparent);
}

@media (max-width: 768px) {
  a span,
  section#contact a {
    text-decoration: underline;
    text-decoration-thickness: 0.1px;
    text-underline-offset: 7.5px;
    text-decoration-color: color-mix(in srgb, var(--ct) 30%, transparent);
    margin-block-end: 0.4rem;
  }
}

section#projects {
  width: 100%;
  height: 100%;
  overflow: none;
  overflow-y: scroll;
  background: linear-gradient(
    -45deg,
    color-mix(in srgb, #b26000 5%, transparent),
    color-mix(in srgb, #b2004b 5%, transparent),
    color-mix(in srgb, #4e00b2 5%, transparent),
    color-mix(in srgb, #0077b2 5%, transparent),
    color-mix(in srgb, #00b25d 5%, transparent)
  );
  background-color: var(--bg);
  background-size: 500% 500%;

  animation: gradient 10s ease infinite;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-content: center;
}

section#projects article {
  background: var(--bg);
  border: 1px solid color-mix(in srgb, var(--ct) 10%, transparent);
  border-radius: 0.75rem;
  box-shadow: 0 0 10px color-mix(in srgb, var(--ct) 5%, transparent);
  user-select: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 6.125rem;
  overflow: hidden;
}

section#projects article aside {
  padding: 0.75rem 1rem;
}

section#projects article aside span {
  display: block;
  font-size: 0.8rem;
  font-weight: 500;
  margin-block: 0.25rem;
  color: color-mix(in srgb, var(--ct) 50%, transparent);
}

section#projects article picture {
  width: 6.125rem;
  height: 6.125rem;
  pointer-events: none;
  display: grid;
  place-items: center;
  border-radius: 0.75rem;
}

section#projects article picture object {
  width: 50px;
  height: 50px;
}

section#projects article#anaquel picture {
  background: #941932;
  box-shadow: 0 0 10px color-mix(in srgb, #941932 5%, transparent);
}

section#projects article#nobase picture {
  background: #1868db;
  box-shadow: 0 0 10px color-mix(in srgb, #1868db 5%, transparent);
}

section#projects article#the-recipes picture {
  background: #ff5722;
  box-shadow: 0 0 10px color-mix(in srgb, #ff5722 5%, transparent);
}

section#projects article#productiva-mente picture {
  background: #f5fafb;
  box-shadow: 0 0 10px color-mix(in srgb, #f5fafb 5%, transparent);
}

section#projects article#archivos-esenciales picture {
  background: #fdfafd;
  box-shadow: 0 0 10px color-mix(in srgb, #fdfafd 5%, transparent);
}

@media (prefers-color-scheme: dark) {
  section#projects article#productiva-mente picture {
    background: #0e1415;
    box-shadow: 0 0 10px color-mix(in srgb, #0e1415 5%, transparent);
  }

  section#projects article#archivos-esenciales picture {
    background: #0f0c0f;
    box-shadow: 0 0 10px color-mix(in srgb, #0f0c0f 5%, transparent);
  }
}

@media (max-width: 768px) {
  section#projects {
    flex-direction: column;
    gap: 1rem;
  }

  section#projects article picture {
    display: none;
  }

  section#projects article {
    background: none;
    border: none;
    border-radius: none;
    box-shadow: none;
    user-select: none;
    display: flex;
    flex-direction: row;
    justify-content: start;
    height: auto;
    width: 100%;
  }

  section#projects article::before {
    content: "-";
    color: var(--ct);
    display: inline-block;
    width: 1em;
  }

  section#projects article aside {
    padding: 0;
  }
}

@media (max-height: 768px) {
  section#projects {
    height: 100%;
  }

  section#projects article {
    height: auto;
  }
}

section#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
}
