<footer class="flex justify-between items-center py-6 mt-auto">
  <p class="text-sm text-neutral-500 dark:text-neutral-400 font-normal">
    &copy; {new Date().getFullYear()} Francisco Mesa.
  </p>
  <div class="flex space-x-4"></div>
</footer>
